<html>
{{#each foo}}
{{this}}
{{/each}}
<h3> ALBUMS:</h3>
<form id="addalbum" action="/artist" method="post">
    Album name: <input type="text" name="album_name"><br>
    Genre: <input type="text" name="genre"><br>
    Bio: <input type="text" name="bio"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<h3>Current Albums:</h3>
<table>
    <thead>
        <th>Name</th>
        <th>Artist</th>
    </thead>
    <tbody>
        {{#each album}}
        <tr>
            <td>{{album_name}}</td>
            <td>{{artist}}</td>
            <td><button onclick="deleteartist({{id}})">Delete</button></td>
            <td><a href="/album/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</html>
