<html>
{{#each foo}}
{{this}}
{{/each}}
<h3> ARTISTS:</h3>
<form id="addartist" action="/artists" method="post">
    Artist name: <input type="text" name="artist_name"><br>
    Genre: <input type="text" name="genre"><br>
    Bio: <input type="text" name="bio"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<h3>Current Artists:</h3>
<table>
    <thead>
        <th>Name</th>
        <th>Genre</th>
        <th>Bio</th>
    </thead>
    <tbody>
        {{#each artist}}
        <tr>
            <td>{{artist_name}}</td>
            <td>{{genre}}</td>
            <td>{{bio}}</td>
            <td><button onclick="deleteartist({{id}})">Delete</button></td>
            <td><a href="/artists/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</html>
