<html>
{{#each foo}}
{{this}}
{{/each}}
<h3> USERS:</h3>
<form id="adduser" action="/user" method="post">
    User name: <input type="text" name="user_name"><br>
    Favorite Song: <input type="text" name="song"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<h3>Current Songs:</h3>
<table>
    <thead>
        <th>Name</th>
        <th>Favorite Song</th>
    </thead>
    <tbody>
        {{#each song}}
        <tr>
            <td>{{user_name}}</td>
            <td>{{song}}</td>
            <td><button onclick="deleteartist({{id}})">Delete</button></td>
            <td><a href="/song/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</html>
